# Disable directory browsing
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent direct access to sensitive files like .env
    RewriteRule ^\.env - [F,L]

    # Rewrite all requests into the public folder
    RewriteCond %{REQUEST_URI} !public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
